* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#header {
  width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  z-index: 99;
}

nav {
  min-height: 5vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul {
  width: 50%;
}

nav a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right, #8a8a8a, #383838, #ccedf0);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

/* BASIC */

/* HOME */

.home {
  background: url(./img/spuldze.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.section h1 {
  font-size: 64px;
  position: absolute;
  top: 15%;
  /*text starts in center of page*/
  left: 50%;
  /*move text center to the center of page*/
  transform: translate(-50%, -15%);
  /*text background color*/
  background: linear-gradient(to left, #c2591c, #c28554, #ccedf0);
  /*text is clipped to the background*/
  -webkit-background-clip: text;
  /*text color is transparent so that the text background color remains and is displayed as text color*/
  -webkit-text-fill-color: transparent;
}
.title {
  width: 500px;
}

.logo {
  padding-bottom: -1rem;
}

/* HOME  */

/* ABOUT */
.about {
  background: url(./img/veja_turbinas.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.about__data {
  width: 670px;
  text-align: center;
  transform: translate(55%, 0%);
  font-size: 2rem;
  color: #2c5169d2;
}
/* ABOUT */

/* SERVICES */
.services__section {
  background: url(./img/parvada_linjas_apakst.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.services {
  background: rgba(200, 204, 250, 0.4);
  border-radius: 1rem;
  /* display: grid; */
  /* grid-template-rows: auto 1fr; */
}

.btn-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: grid;
  /* here can set how manyt columns there will be  */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: 1rem;
}
.tab-btn:nth-child(5) {
  border-top-right-radius: 1rem;
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  color: rgb(31, 28, 28);
  background: rgba(100, 105, 128, 0.3);
  cursor: pointer;
  transition: 0.7s;
  letter-spacing: 0.2rem;
}

.tab-btn:hover:not(.active) {
  background: rgba(68, 131, 73, 0.4);
  color: rgb(250, 250, 250);
}
.services-content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: rgba(178, 202, 248, 0.6);
  color: rgb(250, 250, 250);
  border: none;
}

.content.active {
  display: block;
}

/* SERVICES */

/* PROJECTS */
.projects {
  background: url(./img/parvada_linija.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/* PROJECTS */

/* CONTACTS */
.contact {
  background: url(./img/saules_paneli.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
/* CONTACTS */
